.game-name{
    color: #d54d7b; 
    font-family: "Great Vibes", cursive; 
    font-size: 90px; 
    line-height: 160px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px; 
    text-align: center; 
    text-shadow: 0 1px 1px #fff; 
}
.card{
    display: inline-block;
    margin: 50px;
    border: none;
    border-radius: 20px;
}
#res{
    color: #194049; 
    font-family: 'Julius Sans One', sans-serif; 
    font-size: 30px; 
    font-weight: bold; 
    line-height: 32px; 
    margin: 0 0 24px; 
    text-shadow: 1px 1px 1px #a7e8f8;
}
.names{
    color: #0d0d0e; 
    font-size: 30px; 
    font-family: "Libre Baskerville", serif; 
    /* line-height: 45px;  */
    text-shadow: 0 1px 1px #fff; 
    /* padding-top: 20px;  */
}
